:root {
  // Colors
  --color-white: #fff;
  --color-sky-lighter: #f2f4f5;
  --color-primary: #6b4eff;
  --color-primary-lightest: #e7e7ff;
  --color-yelllow: #ffb323;
  --color-sky-dark: #ff7a00;
  --color-link-lighter: #6c7072;
  --color-link-darkest: #090a0a;

  // Border
  // --border-radius: 32px;
  --border-radius-tabs: 32px;

  // Fonts
  --font-family-primary: 'Inter', sans-serif;
}
